[2015-08-28 20:33] JohnLZeller opened #1 "Add cluster statistics"
Mike would like cluster statistics `Manage Jenkins -> Cluster Statistics`

[2015-08-28 20:34] JohnLZeller opened #2 "Add master statistics"
Mike would like statistics from the master `Manage Jenkins -> Monitoring of Jenkins master`

[2015-08-31 17:34] JohnLZeller opened #3 "Setup proper unit tests"

[2015-08-31 17:38] JohnLZeller opened #4 "Publish javadoc"
Have Jenkins public javadoc

[2015-08-31 18:23] JohnLZeller opened #5 "Event messages should link to summary not console"

[2015-09-01 22:34] JohnLZeller opened #6 "Allow ability to constrain jobs that are tracked"
Allow the ability to somehow constrain the set of jobs we track. This could be a whitelist, or a blacklist. My gut says that default should be all, and we should allow a blacklist of jobs not to be tracked.

[2015-09-03 16:40] JohnLZeller opened #7 "Add option to add hostname"
The agent currently has the option to allow adding a hostname in`datadog.conf`. Let's add this option to the configuration screen for the plugin as well.

[2015-09-04 19:19] JohnLZeller commented on #3
Run through java [checkstyle](http://checkstyle.sourceforge.net/config.html) based on sun and google styles. Use their xmls to run checkstyle against.

[2015-09-04 21:13] JohnLZeller commented on #5
done https://github.com/DataDog/jenkins-datadog-plugin/commit/9d3bda6a9d263558a977227980215c2da5291a25

[2015-09-04 21:13] #5 closed

[2015-09-04 21:15] JohnLZeller opened #10 "Change package name"
Currently we are shipping with the package name `datadog-build-reporter`, however this should be `datadog`. This is because the hosted repository on jenkinsci is called `datadog-plugin`, where the `-plugin` is a typical appending that jenkinsci does for all plugins. Hence, this change helps to keep things consistent.

[2015-09-09 23:03] JohnLZeller commented on #7
+1 for this

[2015-09-12 03:30] kbaltrinic opened #11 "Allow adding custom tags per job"
The simplest solution would be to add a configuration option to each jobs config page where an admin could enter in a set of tags to tag the job with.  However a static list of tags, while useful, is not sufficient for us.

We us parameterized jobs extensively. For example the same job builds all of our dropwizard projects in different configuration such as snapshot builds, release, builds, builds

[2015-09-12 03:38] kbaltrinic commented on #7
Actually this seems to be presenting as a bug.  We have both the old agent and the new plugin running side-by-side for evaluation purposes and we are getting events like `soapui-tests succeeded on ci20-jen-001` from the agent and `soapui-tests build #112 succeeded on null` from the plugin.

We love that the new plugin provides some additional tags, but without mapping the event to a host, and henc

[2015-09-12 03:47] kbaltrinic opened #12 "Add a tag for Node (slave) name"
Based on [line 175](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadogbuildreporter/DatadogBuildListener.java#L175) it would seem this is already in place but we are not seeing any `node` tag and this would be very useful for us in alerting when a particular slave is having problems.

[2015-09-13 02:54] JohnLZeller commented on #7
Thanks @kbaltrinic! I've updated the issue to a bug. We are aware of the host name issue presenting as `null` and will be doing another release of the plugin to fix the issue. And thanks for your other feedback as well! :) I'm glad you're liking the plugin. Looking forward to improving this plugin

[2015-09-14 13:48] kbaltrinic commented on #12
@JohnLZeller Any chance of getting this into that next release as well?  This is the one tag (beyond the hostname) that we really need presently to be able to truly track the health of our slaves.

[2015-09-22 19:26] JohnLZeller opened #14 "Send build started events with a Jenkins source type"
Currently, we are sending build started events without the Jenkins source type to keep started builds from being rolled up with build result events.

Once Jenkins event rollups have been updated to allow for proper rolling up of started builds, then the started build events need to start using the Jenkins source type again.

(internal) https://github.com/DataDog/dogweb/issues/9887

[2015-09-22 19:48] JohnLZeller opened #16 "Break up DatadogBuildListener.java into mutliple files"
The main source at `DatadogBuildListener.java` is approaching 800 lines. Let's break this into multiple files in a way that makes sense.

[2015-09-22 21:44] JohnLZeller commented on #12
@kbaltrinic we'll go ahead and add this in the next release

[2015-09-22 22:22] JohnLZeller commented on #12
PR #17 should handle this, and it has been merged. It'll be included in 0.2.0 release (the next release)

[2015-09-22 22:22] #12 closed

[2015-09-22 22:24] JohnLZeller commented on #7
PR #15 should handle this, and it has been merged and will be included in the 0.2.0 release (the next release)

[2015-09-22 22:24] #7 closed

[2015-09-25 18:41] JohnLZeller commented on #10
Implemented in #18

[2015-09-25 18:41] #10 closed

[2015-09-25 18:43] JohnLZeller commented on #10
@kbaltrinic this will break updates for the plugin you all had installed previously. You'll need to uninstall the old plugin from 'Manage Plugins', under the 'Installed' tab, restart Jenkins, and then install the new plugin from 'Manage Plugins', under the 'Available' tab. It won't be available in the update center for probably at least 5 hours though. Let us know if you have trouble.

[2015-10-16 18:36] JohnLZeller opened #20 "Make some tags optional"
Tags such as node, should be made optional

[2015-10-16 19:57] JohnLZeller commented on #20
Implemented in ea17e44496e5d112196f67c26869969ec15211d4

[2015-10-16 19:57] #20 closed

[2015-10-16 22:09] JohnLZeller commented on #6
Implemented in 9fde32a699aceaf73de03622147cf39422112197

[2015-10-16 22:09] #6 closed

[2015-10-30 07:17] awasilyev opened #21 "Add slaves statistics"
Start, stop event, initialization time...

[2015-11-03 08:56] pablorf-dev opened #22 "Enable reduce log level of datadog plugin"
Currently, Datadog logs a lot of information before and after the job starts, prefixed with DatadogBuildListener.java:.

Would be nice to be able to reduce or suppress that logging using an option in the plugin.

[2015-11-03 16:13] dmabamboo commented on #22
Agree, and using PrintStream it makes it painful to manage log levels and such. I'd propose using JUL which can be more finely managed from within Jenkins. I've created a pull request for your 0.2.0 version which got never merged by I'll do the same again against your 0.3.0 version and make another pull request to see if it comes through.

[2015-11-10 20:27] JohnLZeller opened #24 "Config panel populating API key incorrectly"
Currently, the config panel is populating a previously entered API key incorrectly. This is because it's showing the redacted hash of the users API key, rather than the redacted API key. By-products of this include if a user presses 'Test Key' after they have already saved a key, it will fail, because the hash itself, is not a valid API key. This could present problems if one were to save the hash

[2015-11-17 20:43] tombry opened #26 "Plugin does not seem to respect proxy settings"
We run our Jenkins v1.596 server in a lab that lives behind proxies.  From the CLI, replacing real values with dummy values here, I can successfully run

export http_proxy=http://myproxy.foo.com:80/
export https_proxy=http://myproxy.foo.com:80/
wget https://app.datadoghq.com/api/v1/validate?api_key=1234key

The wget completes in just a second and returns the following body content: {"valid": true}

[2015-11-17 21:23] tombry commented on #26
Correction.  The proxy settings *do* seem to work if I use the defines on the Java CLI for Jenkins.  As you can see above, I had a misspelling: htttps.proxyHost instead of https.proxyHost.

Still, it would be nice if the plugin would simply use the settings in the Manage Jenkins > Configure System page's Global Properties section, assuming that we've configured http_proxy and https_proxy environme

[2015-12-02 21:39] JohnLZeller opened #27 "Remove old plugin from Jenkins repo"
If possible let's remove `Datadog Build Reporter Plugin` from the jenkins repo, because it currently shows both.

![screen shot 2015-12-02 at 4 38 31 pm](https://cloud.githubusercontent.com/assets/1171118/11545071/426c2f2a-9913-11e5-8109-7ca5841d392d.png)

[2015-12-03 21:52] JohnLZeller commented on #22
Merged @dmabamboo's PR (https://github.com/DataDog/jenkins-datadog-plugin/pull/29) to solve this. Thanks!

[2015-12-03 21:52] #22 closed

[2015-12-04 19:23] JohnLZeller opened #31 "Create Contributing docs just for Jenkins plugin"
Include details on javadoc, line length of 100, etc

[2015-12-04 20:07] JohnLZeller commented on #26
@tombry we have added proxy support to the plugin and you'll see it available in the next release.

PR is here: https://github.com/DataDog/jenkins-datadog-plugin/pull/30

[2015-12-04 20:07] #26 closed

[2015-12-08 18:42] JohnLZeller commented on #27
Adding the artifactId `datadog-build-reporter` to `main/resources/artifact-ignores.properties` in the Jenkins update center generator, which will exclude the old plugin from showing up in the update center: https://github.com/jenkinsci/backend-update-center2/pull/33

[2015-12-08 19:57] JohnLZeller commented on #14
Updated backend to rollup Jenkins events by event_type, and now reporting all events as Jenkins source type: https://github.com/DataDog/jenkins-datadog-plugin/commit/f00b26165f040e9bd1996bb1f4fb63ff05c1156f

[2015-12-08 19:57] #14 closed

[2015-12-08 20:35] JohnLZeller commented on #24
Fixed in this commit: https://github.com/DataDog/jenkins-datadog-plugin/commit/ee9532532df99ab998e5f7eb171636905aec6f8c

[2015-12-08 20:35] #24 closed

[2015-12-08 21:55] JohnLZeller commented on #27
Exclusion was merged, and should be live in the Update Center within the next 1-6 hours

[2015-12-08 21:55] #27 closed

[2015-12-09 19:12] jshirley commented on #11
We also need this feature, is this something that we could contribute a patch to add support for?

[2015-12-09 19:14] JohnLZeller commented on #11
We're planning to add this in the next version of the plugin. You're more than welcome to contribute a patch to add support for this! Just make a PR, and we can review any changes you make.

[2015-12-09 19:20] jshirley opened #32 "Merge dd-agent's tags into the emitted metrics"
I'll start by describing what I want to accomplish first, then suggested fix.

We have two Jenkins clusters, one for QA and one for Prod, and want to separate alerts out based on this environment. The `/etc/dd-agent/datadog.conf` has this, and is managed through our automation.

The Jenkins plugin, however, does not try to integrate those configured tags. Events emitted by the Jenkins plugin have

[2015-12-09 19:24] jshirley opened #33 "Emit counter for completed jobs"
We would like to graph failed jobs, grouped by job, on our Jenkins dashboards. It doesn't look like it's possible to add the count of each event on a dashboard, and looking at other plugins using a `count` metric is the typical method for doing this.

With a `jenkins.job.completed` counter, we can use `sum` and filter accordingly and then add the graph as expected.

We use the service checks for m

[2015-12-09 23:00] JohnLZeller commented on #32
Hey @jshirley, thanks for the ticket :)

You're right that tags are currently static on the Jenkins plugin, but I'm looking at adding custom tagging per job, which should enable some flexibility. In terms of being able to separate out alerts by QA and Prod, in your case, this seems like it's best fit for the hostname tag. Currently the Jenkins plugin determines the hostname tag by looking, in orde

[2015-12-09 23:24] JohnLZeller commented on #32
I'm going to close this ticket for now, but please feel free to comment back with more info

[2015-12-09 23:24] #32 closed

[2015-12-09 23:47] jshirley commented on #32
The hostname isn't sufficient in our cases for the environment, the environment isolation means that we rely on a separate tag that is in the `tags:` section in the agent configuration. We don't really keep any persistent meaning on a per-hostname basis, and instead have a fixed `host_env` tag that makes this much easier.

[2015-12-09 23:55] remh commented on #32
@jshirley what @JohnLZeller meant is that, if your agent hostname and jenkins configuration have the same "hostname", the tags set in your datadog.conf will be automatically applied to your jenkins metrics as we'll merge that in the backend.

You should just make sure sure that your jenkins server have the same hostname as the agent hostname for those to combine.

[2015-12-10 18:54] jshirley commented on #32
Ah! That's brilliant -- I realized now that we were seeing incorrect tagging but that was because we accidentally had both the legacy check that parses build.xml and the new plugin running.

Thanks so much!

[2016-01-08 19:07] JohnLZeller commented on #33
Thanks for the ticket @jshirley :) I'll add this to the list for the next release

[2016-01-08 19:11] JohnLZeller commented on #21
Thanks for the issue ticket @awasilyev ! I'm prioritizing this for one of the next releases.

[2016-01-08 22:53] gregsymons opened #34 "Provide option to post to local dogstatsd rather than going directly to the API"
On occasion I've had issues with posts to the API timing out and then "failing" what would have otherwise been a successful build. Since I'm generally running the agent somewhere nearby Jenkins anyway, it'd be nice to leverage that to have a little safety against hiccups in API availability.

[2016-01-08 23:04] JohnLZeller commented on #34
Hey @gregsymons! Thanks for the ticket!

So I can understand your specific situation a bit better, could you clarify what happened? Your build "failed" when the plugin failed to post? Or, the plugin failed when it failed to post?

As far as posting to a dogstatsd somewhere. When we created the jenkins plugin, we deprecated a jenkins agent check. Introducing this option to send to a local dogstatsd

[2016-01-12 19:13] rtyler opened #35 "Handle jobs within folders properly (such as Multibranch Workflow)"
One of the features that's really starting to be used often is the [Workflow plugin](/jenkinsci/workflow-plugin), a part of that functionality is "Multibranch" ([explained here](https://jenkins-ci.org/blog/2015/12/03/pipeline-as-code-with-multibranch-workflows-in-jenkins/)) which creates a "Folder" with jobs in it for each branch which contains a `Jenkinsfile` ([example of such a job here](https:/

[2016-01-12 19:16] JohnLZeller commented on #35
Thanks @rtyler! This definitely deserves to be looked at closer. I'm going to go ahead and prioritize this for a next release.

[2016-01-19 18:26] jmellor opened #36 "Use DataDog Application Key instead of just the API Key"
Currently it is not possible to isolate data from Jenkins to a Jenkins application key in DataDog, creating a lot of noise for other applications being monitored in DataDog.  It would be useful to configure and use  the application key to isolate this traffic.

[2016-01-26 20:10] JohnLZeller commented on #36
Hey @jmellor, thanks for the ticket! Application keys in DataDog are not actually used to isolate traffic, but to authenticate certain actions. So that I understand correctly, are you looking to be able to filter your monitors based on the type of Jenkins job, or host? If this is the case, filtering is done by tags, and for this integration there is currently a host tag you can use to filter out s

[2016-01-26 20:10] #36 closed

[2016-01-27 21:48] gregsymons commented on #34
Unfortunately, I don't have any build output to show exactly what was happening--I disabled the plugin to keep things moving, and all the failed builds have been rotated into dust by now. But, what I remember is that the build would stall for a long time after logging the following:

[code]
 and then would eventually timeout and throw an exception, which would change the build result to `FAILURE`

[2016-03-03 22:47] nrvale0 opened #37 "tags for releases?"
Any chance we could get tags for the release changeset ids for the last couple of releases? Would make it easier for those who have to git clone && git checkout releases.

thx!

[2016-03-09 05:47] JohnLZeller commented on #37
Hey @nrvale0! Sure thing, I'll get this added and report back here once that has been done.

[2016-03-09 05:54] nrvale0 commented on #37
Sounds good. Thx!

[2016-03-09 21:09] JohnLZeller commented on #37
So, this repository is used for ongoing development of the plugin, and releases get pushed to the plugin repo hosted in the [jenkinsci](https://github.com/jenkinsci) account. You can find the release tags here:
https://github.com/jenkinsci/datadog-plugin/releases

Let me know if you have any more questions :)

[2016-03-09 21:09] #37 closed

[2016-03-18 09:23] MadsNielsen commented on #33
@JohnLZeller I'm going to have a stab at this one. I looked through the API docs, there isn't a mention of what values 'type' can take ? In the plugin you create a 'gauge' type metric. Is there a difference between the 'gauge' type and the 'count' type?

[code]

So...is the way to simply emit a similar metric with the 'jenkins.job.completed' and simply just assign it the value '1' so that graphs c

[2016-03-29 10:50] MadsNielsen commented on #33
@JohnLZeller how would you prefer i deliver this one. My change requires the features from https://github.com/DataDog/jenkins-datadog-plugin/pull/38. Would you be ok with a new pull request that bases itself off the new feature i added?

I could also just create a new commit on the existing pull request, it would mean that the pull request attempts to implement 2 features...i Guess that's ok? We c

[2016-03-29 11:50] MadsNielsen commented on #33
Okay @JohnLZeller I've added my initial suggestion here: No  pull request yet...i did a bit of refactoring in this commit: https://github.com/Praqma/jenkins-datadog-plugin/commit/f3bb89655e1ed72ef4288fde46e44d46f22b2128

I've created a small object for a metric emission..i hope i understood how Datadog works. Pretty nice to play around with the UI atleast. Very easy to setup a simple dashboard, Wi

[2016-03-29 22:09] JohnLZeller commented on #33
Hey @MadsNielsen! Go ahead and open a PR. I'm gonna merge the stuff from #38 after your next commits.

[2016-04-13 13:32] acasademont opened #40 "Add project name as a tag"
As discussed in #38 it would be useful to have a the project tag name to be able to group jobs belonging to the same jenkins project and therefore create more meaningful alerts.

I'll try to work on a patch

[2016-04-13 17:24] JohnLZeller commented on #40
Hey @acasademont, thanks for the issue ticket! :)

Definitely seems like a use case we want to support. Let me know if you run into any hurdles

[2016-04-15 14:23] acasademont opened #41 "Add service check when a job is running"
Hi! We think it would also be useful to report a service check when the job is currently running, so we can monitor that too in our dashboard. Main problem is, what status should it emit? AFAIK there only 4 possible statuses and I'm not sure if a "Running Job" would better qualify as a WARNING or UNKNOWN, I'm not 100% happy with any of them, opinions?

[2016-04-15 14:37] JohnLZeller commented on #41
Hey @acasademont! You can actually set up a monitor based on an event, which might be a good way to obtain this functionality. I'm not sure that a service check is the best way to capture this info. Let me know if using the events on a monitor works for your use case.

[2016-04-15 14:39] JohnLZeller commented on #41
I'll close this for now, but let me know if this resolves things.

[2016-04-15 14:39] #41 closed

[2016-04-15 15:19] acasademont commented on #41
HI @JohnLZeller, I thing you might be right but at the moment I don't know how to set up a simple "color box" (aka service check dashboard widget) that shows me the last status of a given job in jenkins.

Even if I ignore the "running job" thing I don't know how to do it, as the job status is reported as a tag (maybe that's the problem?) and I can't create a check on a given job.

<img width="407"

[2016-05-02 14:12] #11 closed

[2016-05-20 18:52] JohnLZeller commented on #33
Added with #43

[2016-05-20 18:52] #33 closed

[2016-05-20 18:55] JohnLZeller commented on #34
@gregsymons I'm curious if you've run into more issues with this since your last comment. Could be a good use case to fire at DogStatsD if a none 200 response from the API occurs.

[2016-05-20 18:56] JohnLZeller commented on #16
Happened with #38

[2016-05-20 18:56] #16 closed

[2016-05-20 22:03] MadsNielsen commented on #33
Fine with me😀

[2016-06-01 16:59] vchan2002 opened #45 "java NPE exception"
This appears to be a new issue that seems to have shown up after the upgrade of the datadog plugin to version .5

A lot of our jenkins job now crashes right at a beginning, with a NPE exception....

java.io.IOException: java.lang.NullPointerException
16:53:52 	at hudson.model.AbstractBuild$AbstractBuildExecution.defaultCheckout(AbstractBuild.java:614)
16:53:52 	at jenkins.scm.SCMCheckoutStrategy.c

[2016-06-01 17:01] jmellor commented on #45
I have that same traceback.  I uninstalled the datadog plugin in order to workaround the problem.

From: vchan2002 [mailto:notifications@github.com]
Sent: June-01-16 12:59
To: DataDog/jenkins-datadog-plugin
Subject: [DataDog/jenkins-datadog-plugin] java NPE exception (#45)

This appears to be a new issue that seems to have shown up after the upgrade of the datadog plugin to version .5

A lot of ou

[2016-06-01 17:09] JohnLZeller commented on #45
This is being fixed by #44, and a bugfix release is forthcoming. Sorry for the hassle!

[2016-06-01 17:45] JohnLZeller commented on #45
Fix released in [0.5.1](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-0.5.1). Should be public on all mirrors in ~4 hours

[2016-06-01 17:45] #45 closed

[2016-06-16 22:43] aaronkvanmeerten opened #46 "java.lang.NullPointerException with DD 0.5.1 on Jenkins 2.9"
I am using the datadog plugin version 0.5.1 with jenkins version 2.9, and in the jenkins log I see the following.  Although my API key seems to check out fine using the system control panel, no events make it to DataDog.  Any suggestions?

`WARNING: RunListener failed
java.lang.NullPointerException
	at org.datadog.jenkins.plugins.datadog.DatadogUtilities.parseTagList(DatadogUtilities.java:105)
	at

[2016-06-16 23:09] JohnLZeller commented on #46
Hey @aaronkvanmeerten! Thank you for bringing this to our attention. We will take a look at this, and a bugfix release might be in order. I'll let you know if I have any more questions.

[2016-06-17 18:46] lesaux commented on #46
I am seeing this as well.

[2016-06-20 23:33] rgulewich commented on #46
Seeing this too - Jenkins version 1.642.2, plugin version 0.5.1

[2016-06-27 22:09] bcarl commented on #46
Seeing this as well, Jenkins 2.0, plugin version 0.5.1

[2016-06-28 14:55] JohnLZeller commented on #46
[0.5.2](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-0.5.2) fixes this. It should be available through the Update Center within ~4 hours.

[Release is here](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-0.5.2)

[2016-06-28 14:55] #46 closed

[2016-07-27 20:21] doy opened #50 "jenkins.job.duration is no longer emitted"
We upgraded from 0.4.1 to 0.5.2, and we no longer seem to be getting `jenkins.job.duration` metrics at all. I looked through the changes, but can't seem to see anything that would have obviously caused this. Is there anything I can do to look into this?

[2016-07-27 21:00] JohnLZeller commented on #50
Hey @doy, thanks for your comment

There indeed wasn't anything that should have removed this metric, and we ourselves are using the most recent version of our plugin with no problems. Could you perhaps be seeing some errors in the logs for this plugin? [Here is a guide](https://github.com/DataDog/jenkins-datadog-plugin#logging) for how to gather this in Jenkins.

I'm gonna close this issue ticket

[2016-07-27 21:00] #50 closed

[2016-07-27 22:07] doy commented on #50
Looks like our Datadog API key was rolled at around the same time as I did the upgrade - sorry for the confusion!

[2016-07-27 22:08] JohnLZeller commented on #50
No problem! I'm glad it was something simple like that :)

[2016-08-01 04:28] kitamurakei opened #51 "Support for Jenkins2 Pipeline"
In Jenkins2 Pipeline, Datadog Event Monitor is unstable work.
Maybe cause, in Jenkins2 Pipeline, [run.getDuration()](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogBuildListener.java#L211) is always return 0.

[2016-08-08 09:54] kitamurakei opened #54 "Support for Japanese Job Name"
Jenkins job name of Japanese will raise garbled character in Datadog.

Like this.
![image](https://cloud.githubusercontent.com/assets/5388202/17476108/3cf748d6-5d99-11e6-998c-adf188cdf0be.png)

There should be is this.
![image](https://cloud.githubusercontent.com/assets/5388202/17476135/65d17510-5d99-11e6-8cbd-b351cccdd34c.png)

[2016-10-06 23:18] ysoldak commented on #35
This can be reduced to two jobs with the same name, placed into different folders.
Full names of the jobs in this case: `folder1/jobname` and `folder2/jobname`.

[2016-10-18 05:07] JohnLZeller commented on #54
Resolved with https://github.com/DataDog/jenkins-datadog-plugin/pull/63

[2016-10-18 05:07] #54 closed

[2016-10-19 00:25] mccutchen commented on #34
+1 for being able to configure this plugin to publish only to the local `dogstatsd` instance.  I see a couple significant benefits to that approach:
 - Jenkins no longer needs to know any DataDog API keys (simpler plugin configuration & one fewer way to leak secrets)
 - Metrics will automatically pick up host-level global tags (simpler plugin configuration & automatic tagging consistency with all

[2016-10-19 20:19] JohnLZeller commented on #34
All valid points @mccutchen, I'll prioritize this. Thanks!

[2016-10-22 13:31] yannrouillard opened #67 "Last release broke "passing/failing Jenkins jobs" in Jenkins dashboard"
Hi,

It seems the "results" tag is not anymore passed with `jenkins.job.status` because of a recent commit.
As a result we can't anymore count easily the number of failed and successful jobs and the two related widgets default dashboard jenkins don't work anymore.

Is it possible to add back the result tag or to have the appropriate metric to extract this information ?

Thanks in advance.

Yann

[2016-10-24 13:40] witokondoria commented on #35
Maybe replacing getDisplayName() usage for getFullName() at [onStarted](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogBuildListener.java#L92) method would make this?

According to its [javadoc](http://javadoc.jenkins-ci.org/hudson/model/AbstractItem.html#getFullName()), it seems so.

[2016-12-09 15:58] exuperok opened #71 "Metrics reporting is broken for Pipeline Jobs"
Hello,

It seems that for jenkins2.x piepline jobs and multibranch piepline jobs (including github organisation) only job started event is reported. The job.juration and job.completed metrics are not reported at all.

Is there a possible fix to these issues as they both have the effect of rendering jenkins integration quite irrelevant, since there's no metric to report?

Thanks in advance.

[2016-12-13 20:51] mrhota opened #74 "jenkins.job.duration not tagged with tags inherited from AWS, datadog.conf, etc."
I'd like jenkins.job.duration to have the tags that everything else coming out of my jenkins master does, but it seems to completely bypass the datadog agent (how else could it skirt those tags?)

[2017-01-18 21:25] lattwood opened #75 "plugin binds a UDP socket for every build and never releases it"
This behaviour will continue until Jenkins runs out of file descriptors, rendering it completely inoperable. Jenkins will then fill the disk at a very rapid rate with logs explaining it's out of file descriptors.

Here's the output of netstat and tcpdump confirming this.

## tcpdump
[code]

## netstat
The values in the Recv-Q column are due to me using netcat to prod the ports
[code]

As you can s

[2017-01-25 23:19] ssbarnea commented on #75
Thanks for filing this, you saved me the embarrassment of taking down a big production server by installing this plugin.

[2017-01-27 13:07] remh commented on #75
Thanks for the detailed feedback we'll investigate this ASAP.

[2017-01-27 13:19] ssbarnea commented on #75
@remh thanks, it would really useful to know how dangerous is this bug. Until we get some more info I will not install the plugin to production instances.

[2017-01-27 13:36] remh commented on #75
I guess it depends on how busy the plugin is used. For reference we use the plugin ourselves on a biggish jenkins server that has been running for 3 weeks. The jenkins process has around 14k open FDs.
We'll work on a fix ASAP.

[2017-01-27 13:39] remh commented on #75
I believe this will be fixed with this PR: https://github.com/DataDog/jenkins-datadog-plugin/pull/73

We'll do a release today or early next week latest.

[2017-01-27 13:42] ssbarnea commented on #75
Thanks, I am currently running 0.5.5 on an empty instance with a job scheduled to run every 30 minutes, just to see if there is any leak. Once I have the new version I will be able to install it and test it also.

[2017-01-29 22:22] JohnLZeller commented on #35
Solved in #68 and #77

[2017-01-29 22:22] #35 closed

[2017-01-30 23:27] JohnLZeller commented on #75
Fixed as of 0.5.6. Thanks for your patience, all!

https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-0.5.6

[2017-01-30 23:27] #75 closed

[2017-02-07 17:11] dbirtch-va opened #79 "Allow the ability to constrain the jobs that are tracked"
Use case: I only want to report on branches that can harm my production environment (ie. merges/deploys to branch "master") I'd like to whitelist those and have all others ignored.

The current blacklist doesn't help as each team/feature branch has different naming and it doesn't scale.

Blacklist feature added here:
https://github.com/DataDog/jenkins-datadog-plugin/issues/6

[2017-02-16 22:24] jalessio commented on #71
This appears to be a duplicate of #51

The following PR's aim to fix this:
* "Fix duration of pipeline jobs" #70
* "Jenkins pipeline support" #69

I cannot comment on the validity of any of them -- I'm just connecting the dots here since I'd like to use this feature.

[2017-02-16 22:25] jalessio commented on #51
This appears to be a duplicate of #71

The following PR's aim to fix this:
* "Fix duration of pipeline jobs" #70
* "Jenkins pipeline support" #69

I cannot comment on the validity of any of them -- I'm just connecting the dots here since I'd like to use this feature.

[2017-03-03 09:07] witokondoria commented on #35
@JohnLZeller could this changes be moved to jenkinsci/datadog-plugin and proceed with a release (even with a small set of changes)?  Its been more than a month since last one

[2017-03-08 11:20] muhqu opened #80 "Multiple DataDog Accounts per Jenkins"
We're using a shared Jenkins Server/Cluster and like to have the ability to integrate with different DataDog Accounts on a per job basis. Can this plugin also be configured on a per job basis?

[2017-03-13 22:20] JohnLZeller commented on #35
Hey @witokondoria! Sorry for the delay on that. I left Datadog last month, so this will have to fall to another engineer there. @remh could we have someone pick this up?

[2017-03-16 22:48] remh commented on #35
Thanks for the feedback! @sjenriquez can you have a look please ?

[2017-04-11 17:35] #51 closed

[2017-04-12 18:19] sjenriquez commented on #71
Support will go out with our next release.

[2017-04-12 18:19] #71 closed

[2017-04-12 18:25] sjenriquez commented on #74
Hey @mrhota thanks for reaching out! #34 will make this possible, this won't make in to our next release, but I will be sure to include it in the following release (0.6.1). Thanks!

[2017-04-12 18:25] #74 closed

[2017-04-12 18:29] sjenriquez commented on #79
Hey @dbirtch-va, a whitelist option (#78) is going out with our next release!

[2017-04-12 18:29] #79 closed

[2017-04-12 18:56] sjenriquez commented on #80
Hey @muhqu, thanks for the ticket! Currently it isn't possible to report to multiple Datadog accounts. Adding additional tags is the only per job configuration at this time. This sounds like a useful enhancement. We'll explore this in a future release, if you start work on this in the meantime, feel free to open a PR, thanks!

[2017-04-12 20:09] sjenriquez commented on #67
Hi @yannrouillard, sorry for the delay getting back to you! I _think_ you're referring to the metric `jenkins.job.completed`. We merged a fix for this (#76) that went out with the last release, 0.5.6, a plugin update should resolve if you haven't done so already. Sorry again for the delay getting back to you!

[2017-04-12 20:09] #67 closed

[2017-05-10 07:59] andskli opened #85 "When used with GitHub org folder plugin; all jobs labeled master"
When used in combination with GitHub Organization Folder Plugin, a lot of jobs are tagged as `#job:master` in datadog. This is due to the folder structure set up by this plugin (GitHubOrganizationName>ProjectName>BranchName).

This makes it hard to distinguish and collect metrics on specific projects in a github organization.

I'm thinking that a feasible approach would be adding another tag to jo

[2017-05-26 14:56] ssbarnea opened #91 "Capture total number of jobs"
Total number of defined jobs in a jenkins instance is easy to acquire but also essential for monitoring long term performance of Jenkins.

There are huge performance impacts between an instance with 10, 100, 500, or 3000 jobs defined.

[2017-05-29 07:22] saurabhsingh39 opened #92 "datadog plugin impacting job performance"
As soon as we are installing this plugin into our Jenkins, any job takes around 2 minutes to start and after it gets start also performance remains slow through out the job flow. Job which usually takes 5 minutes to complete is taking more than double of that time.

[2017-05-30 19:19] ssbarnea commented on #92
Wow, I am really curious about what kind of config issue you have because I enabled this plugin on high-use production instances with 500-3000 jobs each. The idea of having monitoring producing a DDOS is really scary. What version did you install?

[2017-06-19 19:05] sjenriquez commented on #92
Hi @saurabhsingh39, we haven't had any reports of this, are you still seeing an issue? If so could you please reach out to support@datadogqh.com so we can help investigate?

[2017-06-20 22:54] neybar opened #93 "Pull API key from credential store"
This is a 'nice to have' feature, but I would like to be able to use the [Credentials Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Credentials+Plugin) to pull my datadog API key from.

In Manage Jenkins -> Configure System -> Datadog -> API Key I would like to see either a form field, or a drop down to use a stored credential.

[2017-08-17 20:01] dbsanfte opened #101 "Editing and Saving Jenkins config settings causes Datadog agent to stop reporting events"
Every time I edit and save global settings in Jenkins, the Datadog agent on the master note simply stops reporting Jenkins events. Nothing will get it to resume reporting build events except restarting the Jenkins server.

Anyone else seeing this issue?

Jenkins 2.60.1 here running in Docker.

[2017-08-18 12:45] johnjmaguire opened #102 "Empty whitelist does not permit all jobs"
Plugin 0.6.1
Jenkins 2.60.3

Upon upgrading to 0.6.1 we found all metrics apart from `jenkins.queue.size` missing from DataDog. To enable metrics again we had to specify all job names in the whitelist. This should not be the case according to the docs.

Thanks

[2017-08-18 20:44] sjenriquez commented on #102
Thanks for reporting this @johnjmaguire, we'll investigate further.

[2017-08-18 20:44] sjenriquez commented on #101
@dbsanfte Thank you for reporting this, we'll take a look.

[2017-08-18 20:46] sjenriquez commented on #93
Hi @neybar, we've talked about adding support for the Credentials Plugin. We'll add in a future release.

[2017-08-18 20:46] #92 closed

[2017-10-22 14:03] jasiedu opened #105 "Test Key in Jenkins fails with this stack trace"
java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty
	at java.security.cert.PKIXParameters.setTrustAnchors(PKIXParameters.java:200)
	at java.security.cert.PKIXParameters.<init>(PKIXParameters.java:120)
	at java.security.cert.PKIXBuilderParameters.<init>(PKIXBuilderParameters.java:104)
	at sun.security.validator.PKIXValidator.<init>(PKIXValidator.java:88)
C

[2017-11-22 19:29] DanielRedOak commented on #101
Were seeing issues with the DD plugin as well. No matter what I do, I can't seem to get it to report anything back.  Config checks out and API key test is successful. Any updates or information is greatly appreciated

[2017-12-12 08:57] morlajb commented on #101
which Datadog plugin  version are you using ?

[2017-12-12 16:31] #85 closed

[2017-12-12 16:34] #102 closed

[2017-12-18 09:23] scott-estes commented on #101
same issue here, Jenkins version 2.7.4.

I downgraded to 0.5.7, but now since we use pipelines I'm hitting the job.duration issue that was fixed in 0.6.1

Is there a timeline for getting this issue resolved?

[2018-01-04 05:55] amitkumarjha commented on #101
Any update on the fix, I am facing the same issue here.

[2018-01-04 16:12] sjenriquez commented on #101
@amitkumarjha We are working to resolve this asap, sorry for the delay. To downgrade to 0.5.7 you can download the binary at http://updates.jenkins-ci.org/download/plugins/datadog/

Instructions for a manual install can be found at https://jenkins.io/doc/book/managing/plugins/#advanced-installation

Please reach out to support@datadoghq.com if you have any trouble.

[2018-01-04 17:30] DanielRedOak commented on #101
Glad to hear, thanks for the update!

[2018-01-10 13:54] cazorla19 opened #110 "Append the default parameter "Add tags from file in workspace" in general plugin configuration"
To be clear I'll explain the issue first.

Let's assume that we have a Github organization/Bitbucket organization folder where all Jenkins jobs are created automatically for every new repository with Jenkinsfile or repo branches. This setup is pretty popular for now. But how can we tag the builds for Datadog? For now there is no clear option for this. Every job has Datadog tagging parameters, but

[2018-01-12 20:22] sjenriquez commented on #101
v0.6.2 is now available in the Jenkins Update Center, thanks for you patience!

[2018-01-12 20:22] #101 closed

[2018-01-12 20:24] sjenriquez commented on #105
Hi @jasiedu, thanks for reaching out! Can you reach out to support@datadoghq.com so we can better assist and troubleshoot. Please provide the datadog plugin version you are using as well as your jenkins verison, thanks!

[2018-01-12 20:24] #105 closed

[2018-02-22 20:24] sjenriquez commented on #110
@cazorla19 Sorry for the slow reply. Your idea for adding a default/global workspace file path makes sense. We'll try to add this feature as soon as possible, meanwhile if you happen to work on this please submit a PR, thanks!

[2018-03-06 21:16] bkruger99 opened #112 "Jenkins 2.89.4 - 0.6.2 plugin - WARNING: RunListener failed"
I am getting runlistener failed events by the masses and I'm using spot instances.

Mar 05, 2018 5:29:41 PM hudson.model.listeners.RunListener report
WARNING: RunListener failed
java.lang.NullPointerException
        at org.datadog.jenkins.plugins.datadog.DatadogBuildListener.onStarted(DatadogBuildListener.java:113)
        at hudson.model.listeners.RunListener.fireStarted(RunListener.java:240)

[2018-03-06 22:25] bkruger99 commented on #112
Also a smaller error blob:

Mar 05, 2018 6:55:59 PM hudson.model.listeners.RunListener report
WARNING: RunListener failed
java.lang.NullPointerException
	at org.datadog.jenkins.plugins.datadog.DatadogBuildListener.onStarted(DatadogBuildListener.java:113)
	at hudson.model.listeners.RunListener.fireStarted(RunListener.java:240)
	at hudson.model.Run.execute(Run.java:1720)
	at hudson.maven.MavenBuild.

[2018-03-13 04:01] broom9 opened #113 "Support prefix for White/Blacklist"
Hi there,

Can you consider to support to specify job name prefixes for white/black lists? Aka. exclude jobs in a "sandbox/" folder? Thanks.

Wei

[2018-03-16 10:49] Tiagojdferreira opened #114 "Having stage statistics"
Currently it is possible to know if a job failed, but it would be interesting to know in what stage of the pipeline the job failed.

Example of use case:
Jenkins job is devided into the following stages:
- lint
- build
- test backend
- test frontend
- functional tests

Knowing that a job fails during build or during functional tests requires very different actions to fix.

[2018-04-12 12:50] sjenriquez commented on #112
Hi @bkruger99, I've been unable to reproduce with Jenkins 2.89, if you are still having issues please reach out to support@datadoghq.com, thanks!

[2018-04-12 12:50] #112 closed

[2018-04-12 13:26] sjenriquez commented on #113
Hi @broom9, this could certainly be useful. It's not something we'll be working on in the immediate future, but feel free to submit a PR if you get started before we do. Thanks!

[2018-04-12 13:37] sjenriquez commented on #114
Hi @Tiagojdferreira, this sounds like a nice feature. It's not something we'll be working on in the immediate future, but feel free to submit a PR if you get started before we do. Thanks!

[2018-04-12 13:38] sjenriquez commented on #40
Hi @kjbro, it's not something we'll be working on in the immediate future, but feel free to submit a PR if you get started before we do. Thanks!

[2018-04-12 16:03] deiwin opened #115 "Add ability to customize build tags from groovy pipelines"
I need to change a tag value based on what triggered the build (i.e. what's the build cause). After a lot of tinkering, I'm doing something like this:
[code]
And this sort of works, but isn't really reliable. It causes issues when multiple jobs run concurrently. The [**current** `DatadogJobProperty` value is used](https://github.com/DataDog/jenkins-datadog-plugin/blob/1c3744329ec118f2f62a8ec4b158c

[2018-06-12 18:49] Geethree opened #116 "Set dogstatsd endpoint in a dockerized environment"
Hey all I'm currently running jenkins in docker, with datadog also running in docker. Silly question, how do I set the dogstatsd endpoint to the appropriate container?

Do I set the `DOGSTATSD_HOST` environment variable in the jenkins container?

[2018-07-02 14:31] sjenriquez commented on #116
Hi @Geethree, sorry for the delay! Currently, the `DogStatsD Host` endpoint is not configurable via an environment variable or Groovy script, you need to configure it manually in the Jenkins > configuration page.

If it helps, the default is set to `localhost:8125`.  I will leave this issue open for a possible future plugin enhancement.

[2018-07-02 16:45] sjenriquez commented on #115
Thanks for the request @deiwin, I'm keeping this issue open to track this enhancement request. It may not be something we'll work on in the immediate future, but feel free to submit a PR if you get to it before us, thanks!

[2018-09-25 20:40] sjenriquez opened #122 "Add Pipeline support for tag files in workspace"
We currently don't support the tags from workspace file for Pipeline jobs as noted in the readme.

[2018-09-28 21:17] leo-novu opened #123 "Jobs not reporting to datadog once they are moved to a slave"
We have a number of jobs that report back information to the Datadog server until we move them to a slave.  Once a label is added to have the job run on the slave the job no longer reports back to Datadog.  We are using the Amazon EC2 Container Service Cloud Jenkins plugin to spin up containers as slaves.

[2018-11-06 19:30] sjenriquez commented on #123
Hi again @leo-novu, we are in the process of releasing v0.6.5 with a fix for a similar issue to what you are describing. I'm going to close this issue, but if you are still seeing any problems after upgrading please reach out to us at support@datadoghq.com so we can further assist. Thanks!

[2018-11-06 19:30] #123 closed

[2018-11-07 16:23] pgarbe opened #130 "Have pipeline statistics"
I'd like to see pipeline statistics as mentioned in [this blog post](https://stelligent.com/2017/11/16/codepipeline-dashboard/)

Each `Job` should provide
- Lead Time
- Cycle Time
- Feedback Time
- MTTR
- MTBF

![Fail 1](https://github.com/stelligent/pipeline-dashboard/blob/master/docs/pipeline-dashboard-fail-1.png?raw=true)

From [https://github.com/stelligent/pipeline-dashboard/blob/master/READM

[2018-11-14 15:25] kylezengTR opened #131 "unable to load metric: jenkins.job.completed"
Hi Team,
I found this problem which occurs on our server when using jenkins datadog:
In the server which has datadog agent installed, we are able to find the metric:
![image](https://user-images.githubusercontent.com/9773049/48491617-93ef5080-e7ed-11e8-9c57-31798e5fa499.png)

In the server which has no datadog agent installed, we are not able to find '**completed**' metric but something else:
![im

[2018-12-07 14:54] gfelbing opened #133 "Unable to configure plugin for https://app.datadoghq.eu"
It is not possible to push metrics to datadog.eu.

It seems that the URL is hard-coded here: https://github.com/DataDog/jenkins-datadog-plugin/blob/4f12a7d76076cec69fee48ef1a78d140570b6eae/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogBuildListener.java#L420

[2018-12-07 15:31] sjenriquez commented on #131
Hi @kylezengTR. The Datadog agent is needed to collect the `jenkins.job.completed` metric because it uses the statsd collector in the agent, see this repo's readme for a full description of the available metrics.

For the second issue you're seeing, can you open a ticket via support@datadoghq.com, we can better assist via our support channel. Thanks!

[2018-12-07 15:31] #131 closed

[2018-12-07 15:34] sjenriquez commented on #133
Hi @gfelbing , thanks for reaching out. There is an option to set the `Target API URL` under:

Manage Jenkins -> Configure System -> Datadog Plugin -> Advanced... (button bottom right)the Data

I'm going to close this issue, but if you run in to any problems with this please reach out to us at support@datadoghq.com, thanks!

[2018-12-07 15:34] #133 closed

[2019-01-17 22:11] alanranciato opened #139 "All non-successful build events being sent as failures"
All builds not resulting in a success (unstable, aborted) are being sent to Datadog as failed events.  Would like to be able to send as warnings with the correct title in the event.  The tag:result is correct.

[code]

[2019-01-30 20:55] jldork opened #141 "Doesn't work with the EU environment"
Hi all!

Trying to set up Jenkins in the app.datadoghq.eu site and pasted in the API key into my jenkins instance.
![image](https://user-images.githubusercontent.com/1771806/52011967-60949780-24a7-11e9-9d18-495aa1d799dc.png)

We're likely defaulting the API to the .com website

[2019-03-12 20:18] nrmitchi opened #147 "Adding Build Parameters as Tags"
I'm trying to add job parameters as build tags. It appears that this functionality was introduced in #38 , however since then, it looks that the ability to use job build parameters/environment variables as tags was removed, and instead limited to only groupings from the job name.

See https://github.com/DataDog/jenkins-datadog-plugin/blob/46b025d16bb1b8725664aa0f822a77ded5b2d592/src/main/java/org/

[2019-03-15 15:24] sjenriquez commented on #139
Included in 0.7.0 release.

[2019-03-15 15:24] #139 closed

[2019-03-15 15:31] sjenriquez commented on #141
Hi @jldork , you are correct, we use the .com website by default. However, this is configurable if you click the "Advanced" button under the Manage Jenkins > Configure System > Datadog > Advanced

https://d2ddoduugvun08.cloudfront.net/items/0L2I01402p2t0e09140Q/Screen%20Shot%202019-03-15%20at%2011.28.59%20AM.png?X-CloudApp-Visitor-Id=f61030341a5cdeeabebb404f73a53f77&v=13852d52

[2019-03-15 17:05] #141 closed

[2019-03-30 07:55] mpailloncy opened #148 "Ability to collect/push Jenkins Metrics plugins metrics to DataDog"
The [Metrics plugin](https://github.com/jenkinsci/metrics-plugin) provides a lot of Jenkins related metrics which could be very useful to have in DataDog.

Some random thoughts:

- The dependency between DataDog plugin and Metrics could be optional: DataDog plugin could collect/push metrics only if Metrics plugin is installed
- A field in the DataDog configuration could enable/disable this capabil

[2019-03-30 09:16] mpailloncy opened #149 "Question: Move this repo under https://github.com/jenkinsci?"
Out of curiosity, is there a specific reason why this repo is not under jenkinsci organization?
See https://jenkins.io/doc/developer/publishing/requesting-hosting/

[2019-03-30 09:59] mpailloncy commented on #148
I'm wondering if it's not better to create a dedicated plugin, WDYT?

[2019-04-02 14:26] sjenriquez commented on #149
Hey @mpailloncy There is a repo under the jenkinsci organization here https://github.com/jenkinsci/datadog-plugin/

Is that what you're referring to?

[2019-04-02 14:36] mpailloncy commented on #149
ah right!
Didn't realized that it was also under jenkinsci as [the wiki](https://wiki.jenkins.io/display/JENKINS/Datadog+Plugin) is pointing out to this repository.

[2019-04-02 14:39] sjenriquez commented on #149
👍

[2019-04-02 14:39] #149 closed

[2019-04-02 14:59] sjenriquez commented on #148
Hey @mpailloncy it may be better for the Metrics plugin to add Datadog support like they [do for Graphite](https://metrics.dropwizard.io/4.0.0/manual/graphite.html). The metrics appear to be in the statsd format already, it may not be too difficult to add support for a Datadog agent installed on the Jenkins master.

[2019-04-02 15:09] mpailloncy commented on #148
Okay, so you're suggesting a dedicated plugin like https://github.com/jenkinsci/metrics-graphite-plugin right?

[2019-04-02 15:25] sjenriquez commented on #148
Hey again @mpailloncy, I did some more digging and found a Datadog reporter listed on Dropwizard's [Third Party Libraries page](https://metrics.dropwizard.io/4.0.0/manual/third-party.html) 😃 . Check out the repo here, [coursera metrics-datadog](https://github.com/coursera/metrics-datadog).

[2019-04-03 15:21] mpailloncy commented on #148
Hi @sjenriquez, I did some experiments and that seems to work as expected (all metrics pushed to DataDog, without a lot of effort). I'll continue to experiment and keep you inform here.

The only downside I found yet is that some metrics overlap: like _jenkins.queue.size_ (this plugin) and _jenkins.queue.size.value_ (coming from Metrics plugin) for example

[2019-04-04 14:13] sjenriquez commented on #148
@mpailloncy Glad to hear you got that plugin working without much effort. While our Jenkins plugin does not have custom metric name prefixing, the coursera/Dropwizard plugin does have this option. This could be a workaround to prevent duplicate metric naming. I'm going to close this issue out, but please feel free to reply or reach out to support@datadoghq.com if you have an further questions. Tha

[2019-04-04 14:13] #148 closed

[2019-04-12 15:28] ali11011 opened #151 "logs"
what about integrating the console and node output to datadog logs?

[2019-04-15 18:31] ali11011 opened #152 "Pipeline build - add contextual tags"
Hi,

is it possible to push a tag value from the build pipeline jenkins file.

i have a set of standard reason codes for for build failures. In the jenkins file, in the catch block, i want to push this reason code to datadog using a "secondary_result" tag to compliment the result tag value.

is this possible?

Alistair

[2019-04-23 12:39] mpailloncy commented on #148
Hi @sjenriquez, FYI the plugin is now hosted on jenkinsci org and a first version has been released: https://github.com/jenkinsci/metrics-datadog-plugin

[2019-04-24 17:51] cjcdoomed commented on #122
You have a PR that supports this: https://github.com/DataDog/jenkins-datadog-plugin/pull/144
Can it be merged in?

[2019-06-03 17:59] nmuesch commented on #152
Hey @ali11011 I don't believe this is currently possible today. Are you looking for something similar to this - https://github.com/DataDog/jenkins-datadog-plugin/pull/144 ?

[2019-06-03 21:02] nmuesch commented on #130
Hey @pgarbe I'm gonna go ahead and close this since we just merged in the work from your PR https://github.com/DataDog/jenkins-datadog-plugin/pull/156 Thanks again for the issue report and the work on adding this functionality!

[2019-06-03 21:02] #130 closed

[2019-06-04 07:17] pgarbe commented on #130
Thanks @nmuesch for finalising my work!

[2019-06-04 09:42] ali11011 commented on #152
i found a way to do this in the end, it isnt ideal but it works well enough for what we need

[2019-06-20 22:59] awesinine commented on #152
@ali11011 : care to share?!?!?!?!  <3

[2019-06-24 19:29] mklauber opened #157 "Allow multiple values for tags"
We have one jenkins job that deploys multiple applications for us.  We're trying to tag the event with each `app:{name}` value, but currently, only the last value shows up.

Currently, this line https://github.com/DataDog/jenkins-datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogUtilities.java#L280 does not allow multiple values for a given key.  Whenever a tag wi

[2019-06-24 19:31] mklauber commented on #157
FWIW, datadog appears to support this, as I can tag user events with multiple values for the same key and search for them individually or together.

[2019-07-15 05:30] srizzling opened #158 "Latest changes tag and version created"
Hi, with the new PR #132  being merged, is it possible to create a release for it.

[2019-08-27 06:38] faizan80 opened #162 "Can not see all the metrics e.g. jenkins.job.leadtime"
Hi,
I have a Jenkins running in a docker container.
I started the datadog agent docker on the same host as jenkins docker.
I executed couple of dummy jobs and still do not see any of the following metrics.

jenkins.job.leadtime
jenkins.job.cycletime
jenkins.job.mttr
jenkins.job.feedbacktime
jenkins.job.mtbf

Am I doing something wrong ?
+
I am using the trial account.

[2019-09-03 17:17] jeremy-lq commented on #162
@faizan80, we'll need some additional information to assist. Can you open a support ticket and we'll take it from there? Thanks.
https://docs.datadoghq.com/help/

[2019-09-03 17:17] #162 closed

[2019-10-01 17:45] gzussa commented on #147
I just a pretty big refactoring (merged on master branch) and at this point all the above feature seems to work fine. You can use env variables in your job using both properties below:
- `Add tags from file in workspace`
- `Add tags from list of properties`

The `globalTags` property doesn't support env variables (i don't think it even did) but it indeed uses regex. Regarding the grouping up to 9

[2019-10-24 15:27] asrao-pv opened #166 "Plugin does not compute KPI metrics"
# Plugin does not compute or send all KPI metrics

## Expected behavior
When there is a Datadog agent running on the machine running Jenkins, that agent should be sending the Jobs Completed, MTTR, MTBF, and other metrics to my Datadog account.

## Actual behavior
The agent sends the Jobs Completed metric but not others to my Datadog account.

## Relevant logs from plugin

[code]

## Observations f

[2019-10-25 09:39] davidjaquier opened #167 "Datadoghq.eu support"
Hi!

Is it possible to add a configuration field to be able to use https://app.datadoghq.eu endpoint instead of the hardcoded

private String targetMetricURL = "https://api.datadoghq.com/api/";

It could be really appreciated.

[2019-10-25 17:44] asrao-pv commented on #167
If I understand your questions correctly you should be able to change the value of the `targetMetricURL` in the Jenkins system configuration:

Jenkins dashboard -> Manage Jenkins -> Configure System -> Datadog Plugin -> Advanced -> Target API URL

[2019-10-25 17:56] davidjaquier commented on #167
Yep exact!

Because datadog provides this host to store data in Europe only...

[2019-11-05 16:05] jeremy-lq commented on #166
@asrao-pv Thanks for bringing this to our attention. Can you please open a [support ticket](https://docs.datadoghq.com/help/) so we can properly track this feature request? Thanks.

[2019-11-05 16:05] #166 closed

[2019-11-05 16:11] jeremy-lq commented on #167
@davidjaquier To confirm, if you are in the Datadog EU site, https://api.datadoghq.eu/api/ can be used for API calls. If you have any additional questions, if you open a ticket someone can walk you through the configuration.

[2019-11-05 16:11] #167 closed

[2019-11-05 16:48] asrao-pv commented on #166
I've opened a support ticket. I'll try to update this issue with anything useful.

[2019-11-06 08:01] fahmisdk6 opened #168 "Question about whitelist multibranch pipeline"
I want to track some of my multibranch pipeline job. but i'm not sure how to write the job name in the Whilelist box of Jenkins Configuration Page. I tried to type only the job name (ex: `Android PR Checker`)or with pr-number (ex: `Android PR Checker/pr-111`) but then no jobs is tracked to datadog.

So, How to write the whitelist job properly for multibranch pipeline job?

I also try to filter job

[2019-11-18 15:22] jglick opened #170 "Thread leak"
An instrumented boot classpath revealed a mistake in this plugin that can cause thread leaks. See https://github.com/jenkinsci/datadog-plugin/pull/9 for the fix.

[2019-11-25 18:10] jeremy-lq commented on #168
@fahmisdk6 Please open a [support ticket](https://docs.datadoghq.com/help/) and someone will walk you through this.

[2019-11-25 18:10] #168 closed

[2019-11-27 08:34] gzussa commented on #170
Hi @jglick Thanks for opening this issue. I am currently working on some big refactoring and I included it as part of it. See https://github.com/DataDog/jenkins-datadog-plugin/pull/169. I keep this issue open until I make a new release.

[2019-11-27 08:38] gzussa commented on #158
Hi, Thanks for opening this issue. I had to make some improvements to changes you mentioned. See https://github.com/DataDog/jenkins-datadog-plugin/pull/169. I will make a release with all included changes. I will keep this issue open until it is out.

[2019-11-27 08:48] gzussa commented on #152
@ali11011 Sorry for the long delay here. I would love to help here.

In order to be sure I understand your problem. Would you be able to provide me with a simple jenkin file example that I could use to reproduce your scenario?

[2019-11-27 08:55] gzussa commented on #151
@ali11011 We are currently working on pushing console logs to Datadog - https://github.com/DataDog/jenkins-datadog-plugin/pull/171. As for node logs, I don't think we can get them from the Jenkins plugin. You will have to install the Datadog agent on slave node to them.

[2019-11-27 09:00] gzussa commented on #116
Hi @Geethree Thanks for opening this issue. I am currently working on some improvements that would get rid of DogStatsD all together - see https://github.com/DataDog/jenkins-datadog-plugin/pull/169. Hence solving your issue 😄 . I will keep this issue open until I release a new version.

[2019-11-27 09:16] gzussa commented on #114
This issue is duplicated now and is being discussed in https://github.com/DataDog/jenkins-datadog-plugin/issues/152. Closing this issue. @Tiagojdferreira If you have a simple pipeline script i could use to test, that would be great 😄

[2019-11-27 09:16] #114 closed

[2019-11-28 03:58] srizzling commented on #158
Hey @gzussa, whats used instead of Dogstatsd here?

[2019-11-28 12:46] gzussa commented on #40
Hi, I believe this is fixed since submit the job tag. Maybe I am not understand what the difference is between a Job name and a project name. Both terms are used interchangeably in Jenkins doc.
Closing this for now. Feel free to reopen with more details.

[2019-11-28 12:46] #40 closed

[2019-11-28 12:57] #31 closed

[2019-11-28 14:44] #157 closed

[2019-11-28 14:44] #113 closed

[2019-12-03 13:11] #3 closed

[2019-12-04 09:54] #1 closed

[2019-12-04 09:54] #2 closed

[2019-12-04 09:54] #91 closed

[2019-12-04 09:58] #170 closed

[2019-12-04 09:59] gzussa commented on #158
I am actually working on adding Dogstatsd back.
So you will be able to either use Datadog HTTP endpoints or DogStatD.

[2019-12-05 19:58] jglick commented on #170
Note that for plugins hosted on the Jenkins update center, we urge maintainers to do development in, and cut releases out of, the repository in @jenkinsci and in fact to delete any original clone. [Recent discussion](https://groups.google.com/d/msg/jenkinsci-dev/ykKUGJ7zZEQ/KBp6C_0fAgAJ)

[2019-12-12 13:27] #21 closed

[2019-12-13 20:33] gzussa commented on #116
I reconsidered my previous decision and brought back DogStatsD into the mix. However now, you will be able to use either the HTTP Client or the DogStatsD client. Here is the related PR https://github.com/DataDog/jenkins-datadog-plugin/pull/183 (still WIP). I am also going to make it possible to configure the plugin using env variable in another PR. I will keep you updated.

[2019-12-16 22:18] #110 closed

[2019-12-17 11:02] #34 closed

[2019-12-17 18:35] provcristianmaluenda opened #185 "Update plugin on Jenkins' repo"
I am trying to integrate Datadog with Jenkins using this plugin.
My problem is, I only can see the events and 4 metrics:
[code]

After talked with the people from Datadog, we realized Jenkins has an old version of this plugin.
Can you release a new version?

Thanks

[2019-12-18 10:14] #116 closed

[2019-12-27 21:18] provcristianmaluenda opened #188 "I can not see all the metrics, including some basic metrics like "jenkins.job.completed" and "jenkins.job.started""
I build this plugin and installed it in my Jenkins (0.7.2-SNAPSHOT ), and I can not see these metrics:

Metric | Description | Default Tag
-- | -- | --
jenkins.job.completed | Rate of completed jobs. | branch, job, node, result
jenkins.job.cycletime | Build Cycle Time. | branch, job, node, result
jenkins.job.duration | Build duration (in seconds). | branch, job, node, result
jenkins.job.feedbackti

[2019-12-30 14:43] provcristianmaluenda commented on #188
I think my issue is I need to add my job to the whitelist. Why do I need to do that? If I want metrics for all my job, why should I use whitelist?

[2019-12-30 17:10] provcristianmaluenda opened #189 ""DatadogBuildListener#onStarted: Unexpected exception occurred - null""
I built this plugin and I installed it in my Jenkins. We are running Jenkins in K8s using Jenkins' helm chart.
We use API configuration to send the metrics and we use multi-branch repo for our pipelines. No whitelist or blacklist is configured.
I think, because of this, we can not get all the metrics in Datadog. Some basic metrics like `jenkins.job.started` or `jenkins.job.completed` are not shown

[2019-12-30 23:29] jeremy-lq commented on #188
@provcristianmaluenda
We need some additional information to assist. Please open a support ticket and we'll pick the issue up from there. Thanks.

[2019-12-30 23:29] #188 closed

[2019-12-30 23:32] jeremy-lq commented on #189
Closing this issue as we've moved to a support ticket based on: https://github.com/DataDog/jenkins-datadog-plugin/issues/188

[2019-12-30 23:32] #189 closed

[2019-12-31 02:01] #185 closed

[2020-01-03 23:40] provcristianmaluenda opened #191 "Nullpointer when onStarted/onCompleted call the method "getBuildTags""
**Describe the bug**
The current version doesn't send all the metrics to Datadog. The reason is a null pointer exception.

Debugging a little bit, there is a null pointer [here](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/src/main/java/org/datadog/jenkins/plugins/datadog/DatadogUtilities.java#L84)

My configuration is:
* Datadog API URL: `https://api.datadoghq.com/api/`
* Datadog

[2020-01-09 15:57] gzussa commented on #158
We just release version [1.0.0](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-1.0.0). This is a major bump with backward incompatibility changes. See related [changelog](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/CHANGELOG.md#100--01-07-2020). As a consequence i closing this issue.

[2020-01-09 15:57] #158 closed

[2020-01-09 16:02] gzussa commented on #116
Heads up: We just release version [1.0.0](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-1.0.0). This is a major bump with backward incompatibility changes. See related [changelog](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/CHANGELOG.md#100--01-07-2020).

[2020-01-09 16:03] gzussa commented on #147
We just release version [1.0.0](https://github.com/jenkinsci/datadog-plugin/releases/tag/datadog-1.0.0). This is a major bump with backward incompatibility changes. See related [changelog](https://github.com/DataDog/jenkins-datadog-plugin/blob/master/CHANGELOG.md#100--01-07-2020).

[2020-01-09 16:03] #147 closed

[2020-01-09 16:05] gzussa commented on #170
Thanks for the feedback, we are currently in the process of getting rid of this fork.

[2020-01-09 16:07] gzussa commented on #191
Hi @provcristianmaluenda. Thanks for reporting this issue. I will take a look at it ASAP.

[2020-01-09 18:10] gzussa commented on #191
So I tried to reproduce the error and i am not able to do so. Here is what i did. Maybe you can help me troubleshoot this.

- I pulled the latest from this repo.
- Run `mvn install`. To verify that tests pass and to install the plugin on my local maven cache.
- Create a `JENKINS_PLUGIN` env variable pointing to your project repo `export JENKINS_PLUGIN=PATH_TO_/DataDog/jenkins-datadog-plugin`
- Use

[2020-01-09 18:32] provcristianmaluenda commented on #191
Thanks @gzussa for your update. I will test it this weekend.

[2020-01-16 09:20] gzussa commented on #4
This issue has been open since 2015 and it doesn't seem like there is a lot of interest. As a consequence, i am closing it.

[2020-01-16 09:20] #4 closed

[2020-01-16 21:36] #191 closed

[2020-01-16 22:09] provcristianmaluenda commented on #191
Thanks for the fix!

[2020-01-20 22:31] gzussa commented on #80
Since release 1.0.0, users can use dogstatsd to submit metrics, events and service checks to Datadog. It is possible to configure the Datadog Agent to submit metrics to multiple accounts.
Using such feature may increase your cost. Please contact our support to get more details on how to set this up.

[2020-01-20 22:31] #80 closed

[2020-01-20 22:37] gzussa commented on #93
Since release 1.0.0, the datadog plugin can submit metrics, events and service checks using DogStatsD. Using DogStatsD allows you to hide your keys from Jenkins. We are not planning to integrate our plugin with the `Credentials` plugin at the moment. However, we are welcoming pull requests from the community to add such feature.

[2020-01-21 11:29] dgounaris opened #196 "DatadogUtilities.getDatadogJobProperties returned null value that get dereferenced later on"
**Describe the bug**
When trying to apply this plugin on some jenkins jobs (still haven't identified their unique circumstances), there were null pointers thrown on `DatadogBuildListener.onStarted` and `DatadogBuildListener.onComplete`. These caused the relevant graphs to not display jobs properly, as there were no events registered for them. Other, intermediate, messages were successfully appeari

[2020-01-21 13:34] dgounaris commented on #196
I think I found the root cause. On existing jobs, DatadogJobProperties is null when datadog is setup after their creation and their configuration has not changed. Saving the configuration once manually after installing the plugin resolves the issue and the job properly shows itself on the datadog dashboard.

[2020-01-21 17:17] gzussa commented on #196
Hi @dgounaris, this issue should be fixed as part of release 1.0.1.
See https://github.com/DataDog/jenkins-datadog-plugin/issues/191

[2020-01-21 17:17] #196 closed

[2020-01-21 18:24] kostasns opened #198 ""Hmmm, your API key may be invalid.""
**Describe the bug**
Unable to send metrics when using API URL https://api.datadoghq.eu/api/
Receive `API key seems to be invalid`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage Jenkins -> Configure System -> Datadog Plugin
2. Enter 'https://api.datadoghq.eu/api/' for API URL field
3. Enter your API key from https://datadoghq.eu/account/settings#api to API Key field
4. See err

[2020-01-21 19:33] kostasns commented on #198
It seems that there might've been a conflict with `Metrics` Plugin ? After removing that - things started to work. Could be a coincidence, although I've restarted master after installing Datadog plugin.

[2020-01-21 19:33] #198 closed

[2020-01-21 21:57] gzussa commented on #152
@ali11011 should I close this issue?

[2020-01-21 22:01] gzussa commented on #151
We are planning on adding logs very soon. Also, we are in the process of kill this repo in favor of https://github.com/jenkinsci/datadog-plugin. Closing this issue. For other feature requests, we recommend to contact our support team.

[2020-01-21 22:01] #151 closed

[2020-01-21 22:03] gzussa commented on #93
Me again 😄. We are in the process of kill this repo i n favor of https://github.com/jenkinsci/datadog-plugin. As a consequence, I am closing this issue. Feel free to open a new one in https://github.com/jenkinsci/datadog-plugin/issues in order to get community help on this. Even better, we welcome pull requests 💯

[2020-01-21 22:03] #93 closed

[2020-01-21 22:20] gzussa commented on #122
Migrating this issue to https://github.com/jenkinsci/datadog-plugin/issues/21. Closing it

[2020-01-21 22:20] #122 closed

[2020-01-21 22:24] gzussa commented on #152
Related https://github.com/DataDog/jenkins-datadog-plugin/pull/144

[2020-01-21 22:26] gzussa commented on #115
Related to https://github.com/DataDog/jenkins-datadog-plugin/issues/152 (except that it is when using the JenkinsFile rather then groovy scripts). Keeping this one out of the two since it has more details.

[2020-01-21 22:27] gzussa commented on #152
We will track this as part of https://github.com/DataDog/jenkins-datadog-plugin/issues/115

[2020-01-21 22:27] #152 closed

[2020-01-21 22:29] gzussa commented on #115
https://github.com/DataDog/jenkins-datadog-plugin/pull/164

[2020-01-21 22:34] gzussa commented on #115
Moving this issue to https://github.com/jenkinsci/datadog-plugin/issues/22 since we are in the process of archiving this repository.

[2020-01-21 22:34] #115 closed